<section class="section">
  <div class="container">
    <div class="row">

      <div class="col-12">
        <h2 class="section-title" translate>about.title</h2>
      </div>

      <div class="col-12">
        <p class="section-text" translate>about.text_main</p>

        <p class="section-text last-with-margin" translate>about.text_second</p>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="feature">
          <i class="icon ion-ios-tv feature-icon"></i>
          <h3 class="feature-title" translate>about.ultra_hd</h3>
          <p class="feature-text" translate>about.ultra_hd_desc</p>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="feature">
          <i class="icon ion-ios-film feature-icon"></i>
          <h3 class="feature-title" translate>about.film</h3>
          <p class="feature-text" translate>about.film_desc</p>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="feature">
          <i class="icon ion-ios-trophy feature-icon"></i>
          <h3 class="feature-title" translate>about.сonvenience</h3>
          <p class="feature-text" translate>about.сonvenience_desc</p>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="feature">
          <i class="icon ion-ios-notifications feature-icon"></i>
          <h3 class="feature-title" translate>about.notifications</h3>
          <p class="feature-text" translate>about.notifications_desc</p>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="feature">
          <i class="icon ion-ios-rocket feature-icon"></i>
          <h3 class="feature-title" translate>about.rocket</h3>
          <p class="feature-text" translate>about.rocket_desc</p>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="feature">
          <i class="icon ion-ios-globe feature-icon"></i>
          <h3 class="feature-title" translate>about.multi_language_subtitles</h3>
          <p class="feature-text" translate>about.multi_language_subtitles_desc</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section dark">
  <div class="container">
    <div class="row">

      <div class="col-12">
        <h2 class="section-title no-margin" translate>about.how_it_works</h2>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="how">
          <span class="how-number">01</span>
          <h3 class="how-title" translate>about.create_account</h3>
          <p class="how-text" translate>about.create_account_desc</p>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="how">
          <span class="how-number">02</span>
          <h3 class="how-title" translate>about.choose_plan</h3>
          <p class="how-text" translate>about.choose_plan_desc</p>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="how">
          <span class="how-number">03</span>
          <h3 class="how-title" translate>about.enjoy_movie</h3>
          <p class="how-text" translate>about.enjoy_movie_desc</p>
        </div>
      </div>

    </div>
  </div>
</section>