<div class="auth">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="auth-content">
          <div class="auth-form">
            <form>
              <a [routerLink]="['']" class="auth-icon">
                <img src="/assets/logo.svg">
              </a>

              <div class="auth-group">
                <app-input type="text" type="text" placeholder="Username" [control]="form.get('username')"></app-input>
                <app-input-error *ngIf="form.get('username').invalid && form.get('username').dirty" label="Username" [control]="form.get('username')"></app-input-error>
              </div>

              <div class="auth-group">
                <app-input type="text" type="text" placeholder="Email" [control]="form.get('email')"></app-input>
                <app-input-error *ngIf="form.get('email').invalid && form.get('email').dirty" label="Email" [control]="form.get('email')"></app-input-error>
              </div>

              <div class="auth-group">
                <app-input type="password" placeholder="Password" [control]="form.get('password').get('password')"></app-input>
                <app-input-error *ngIf="form.get('password').get('password').invalid && form.get('password').get('password').dirty" label="Password" [control]="form.get('password').get('password')"></app-input-error>
              </div>

              <div class="auth-group">
                <app-input type="password" placeholder="Confirm password" [control]="form.get('password').get('password2')"></app-input>
                <app-input-error *ngIf="form.get('password').invalid && form.get('password').get('password2').dirty" label="Confirm Password" [control]="form.get('password')"></app-input-error>
              </div>

              <div class="auth-group checkbox">
                <input id="remember" name="remember" type="checkbox" checked="checked">
                <label for="remember">I agree to the <a href="#">Privacy Policy</a></label>
              </div>
            </form>
            <app-button (click)="signUp()">Sign up</app-button>
            <span class="auth-text">Already have an account? <a [routerLink]="['/sign-in']">Sign in!</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>