<div class="filters">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <div class="filter-content">
          <div class="filter-items">

            <div class="filter-item">
              <div class="item-lable">GENRE:</div>
              <app-dropdown-select [formControl]="filters.get('ganres')" [multiple]="true" [options]="ganresList" [checkboxes]="true"></app-dropdown-select>
              <!-- <div class="item-btn" role="navigation" id="filter-genre" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <input type="button" value="Action/Adventure">
                <span></span>
              </div> -->
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="catalog">
  <div class="container">
    <div class="row">

      <ng-container *ngFor="let item of movies">


          <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
              <div class="card">
                <div class="card-cover">
                  <img [attr.src]="'http://image.tmdb.org/t/p/original'+item.poster_path" alt="">
                  <a [routerLink]="['/movie', item.id]"  class="card-play">
                    <i class="icon ion-ios-play"></i>
                  </a>
                </div>
                <div class="card-content">
                  <h3 class="card-title"><a [routerLink]="['/movie', item.id]">{{item.title}}</a></h3>
                  <span class="card-category">
                    <ng-container *ngFor="let gen of item.genres">
                        <a >{{gen}}</a>
                    </ng-container>
                  </span>
                  <span class="card-rate"><i class="icon ion-ios-star"></i>{{item.vote_average}}</span>
                </div>
              </div>
            </div>
      </ng-container>
      
      
      
    </div>
  </div>
</div>