<div class="auth">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="auth-content">
          <div class="auth-form">
            <form>
              <a [routerLink]="['']" class="auth-icon">
                <img src="/assets/logo.svg">
              </a>

              <div class="auth-group">
                <app-input type="text" placeholder="{{ 'sign.username' | translate }}" [control]="form.get('username')"></app-input>
              </div>

              <div class="auth-group">
                <app-input type="password" placeholder="{{ 'sign.password' | translate }}" [control]="form.get('password')"></app-input>
              </div>

              <div class="auth-group checkbox">
                <input id="remember" name="remember" [(ngModel)]="remember" type="checkbox" checked="checked">
                <label for="remember" translate>sign.remember</label>
              </div>
            </form>
            <app-button (click)="signIn()" translate>sign.sign_in</app-button>
            <span class="auth-text" translate>sign.no_account<a [routerLink]="['/sign-up']"
                routerLinkActive="router-link-active" translate>sign.sign_up</a></span>

            <span class="auth-text"><a href="#" translate>sign.forgot_pass</a></span>
            <app-button class="google-button">Google</app-button>
            <app-button class="intra">Intra 42</app-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>