$gray-bg:               #DCE1E8;
$dark-bg:               #343a40;
$main-color:            #ff9800;
$error-color:           #FF6187;
$pink:                  #EF0680; // button background
$purpule:               #D012EB;
$purpule-s:              rgba(208, 18, 235, 0.35);
$dark:                  #2b2b31;
$lgray:                 rgba(255,255,255,0.7);
$gray-text:             #7F8999;
$black-text:            #2e3236; // input-color
$greenColor:            #2EC472;
$white:                 #ffffff;

$hover-list-item:       #eff2f5;
$avatar-icon:           #adb6c1;
$gray-1:                #f7f9fc; // input background;
$gray-2:                #dbe0e7; //1 input border;
$input-border:          #dbe0e7;
$input-border-focus:    #589efd;
$inactive-option-color: #7e8897;
$popup-font-color:      #848f9d;
$gray-text: #7F8999;
$border-color: #dce1e8;
