<section class="section details">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="details-title">I Dream in Another Language</h1>
      </div>
      <div class="col-12">
        <div class="card card-details card-series">
          <div class="row">
            <div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3">
              <div class="card-cover">
                <img src="https://flixgo.co/image/186x284/posts/2019-06/1561136097_us-2019-poster.jpg" alt="">
              </div>
            </div>

            <div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-9">
              <div class="card-content">
                <div class="card-wrap">
                  <span class="card-rate"><i class="icon ion-ios-star"></i>8.4</span>

                  <ul class="card-list">
                    <li>HD</li>
                    <li>16+</li>
                  </ul>
                </div>

                <ul class="card-meta">
                  <li><span>Genre:</span> <a href="#">Action</a>
                    <a href="#">Triler</a></li>
                  <li><span>Release year:</span> 2017</li>
                  <li><span>Running time:</span> 120 min</li>
                  <li><span>Country:</span> <a href="#">USA</a> </li>
                </ul>

                <div class="card-description card-description--details">
                  It is a long established fact that a reader will be distracted by the readable content of a page when
                  looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                  distribution of letters, as opposed to using 'Content here, content here', making it look like
                  readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                  default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
                  Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected
                  humour and the like).
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-12">
        <video controls crossorigin playsinline
          poster="../../../cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg" id="playerId">
          <!-- Video files -->
          <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4" type="video/mp4"
            size="576">
          <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-720p.mp4" type="video/mp4"
            size="720">
          <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-1080p.mp4" type="video/mp4"
            size="1080">
          <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-1440p.mp4" type="video/mp4"
            size="1440">

          <!-- Caption files -->
          <track kind="captions" label="English" srclang="en"
            src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.en.vtt" default>
          <track kind="captions" label="Français" srclang="fr"
            src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.fr.vtt">

          <!-- Fallback for browsers that don't support the <video> element -->
          <a href="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4" download>Download</a>
        </video>
      </div>
    </div>
  </div>
</section>