<section class="section details">
	<div class="container">
		<div class="row">
			<div *ngIf="movie" class="col-12">
				<h1 class="details-title">{{movie.title}}</h1>
			</div>
			<div *ngIf="movie" class="col-12">
				<div class="card card-details card-series">
					<div class="row">
						<div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3">
							<div class="card-cover">
								<img [src]="poster" [alt]="movie.title">
							</div>
						</div>

						<div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-9">
							<div class="card-content">
								<div class="card-wrap">
									<span class="card-rate"><i class="icon ion-ios-star"></i>{{movie.grade}}</span>

									<ul class="card-list">
										<li>HD</li>
										<!-- <li>16+</li> -->
									</ul>
								</div>

								<ul class="card-meta">
									<li>
										<span>Genre:</span>
										<a *ngFor="let item of movie.genres">{{item.name}}</a>
									</li>
									<li><span>Release year:</span> {{date}}</li>
									<li><span>Running time:</span> {{movie.runtime}} min</li>
									<li><span>Country:</span> <a href="#">USA</a> </li>
								</ul>

								<div class="card-description card-description--details">
									{{movie.overview}}
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div *ngIf="videos && videos.length > 0" class="col-12">
				<app-video-player [vid]="videos" [title]="subtitles"></app-video-player>
			</div>



		</div>
	</div>


</section>

<section class="content">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-8 col-xl-8">
				<!-- content tabs -->
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
						<div class="row">
							<!-- comments -->
							<div class="col-12">
								<div class="comments">
									<ul class="comments-list">

										<ng-container *ngFor="let item of comments">
											<li class="comments-item">
												<div class="comments-autor">
													<!-- <img class="comments-avatar" src="img/user.png" alt=""> -->
													<span class="comments-name">{{item.userId.firstName}} {{item.userId.lastName}}</span>
													<span class="comments-time">{{ item.createdAt | date }}</span>
												</div>
												<p class="comments-text">{{item.comment}}</p>
												<div class="comments-actions">
													<button type="button" (click)="deleteComment(item._id)"><i
															class="icon ion-ios-del-alt"></i>Delete</button>
												</div>
											</li>
										</ng-container>

									</ul>

									<div class="form">
										<textarea id="text" name="text" [formControl]="commentsForm.get('comment')" class="form-textarea"
											placeholder="Add comment"></textarea>
										<!-- <button type="button" class="form-btn">Send</button> -->
									</div>
									<app-button class="normal" (click)="sendComment()">Send</app-button>
								</div>
							</div>
							<!-- end comments -->
						</div>
					</div>


				</div>
				<!-- end content tabs -->
			</div>

			<!-- sidebar -->
			<div *ngIf="movie && movie.similar" class="col-12 col-lg-4 col-xl-4">
				<div class="row">
					<!-- section title -->
					<div class="col-12">
						<h2 class="section-title section-title--sidebar" style="color: white;">You may also like...</h2>
					</div>
					<!-- end section title -->

					<!-- card -->
					<ng-container *ngIf="movie.similar.results">
						<div *ngFor="let item of movie.similar.results" class="col-6 col-sm-4 col-lg-6">
							<div class="card">
								<div class="card-cover">
									<img [attr.src]="'http://image.tmdb.org/t/p/original'+item.poster_path" alt="">
									<a [routerLink]="['/movie', item.id]" class="card-play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card-content">
									<h3 class="card-title"><a [routerLink]="['/movie', item.id]">{{item?.original_title}}</a></h3>
									<!-- <span class="card-category">
														<a href="#">Action</a>
														<a href="#">Triler</a>
													</span> -->
									<span class="card-rate"><i class="icon ion-ios-star"></i>{{item.vote_average}}</span>
								</div>
							</div>
						</div>
					</ng-container>
					.
					<!-- end card -->
				</div>
			</div>
			<!-- end sidebar -->
		</div>
	</div>
</section>